body{
background-color: #cffffa;
margin: 50px;
}
h1{font-size: 40px;
text-align: center;
background-color:rgb(0, 255, 179); 
color: rgb(212, 0, 255);
}
x{font-size: 23px;
}
h3{font-size: 22px;
}
p{font-size: 20px;
}
a{color:rgb(162, 0, 255);
}
.clowd{height: 500;}